### Assignment 9 : Python Programming
Create a Python app that creates a brand new SQL DB with 1 million records, calculate how many characters in the first row, find the longest work (number of characters) and if there is more than one such occurrences then find out how many occurrences that is and how long that word is.

In [1]:
#Import Python libraries and create 
import sqlite3
import pandas as pd
import numpy as np

In [2]:
#Create a brand new SQL DB with 1 million records.
con = sqlite3.connect('example_data.db')
my_data = pd.DataFrame(np.random.randint(0, 10, size=(200000, 5)), columns=list('aeiou'))
print(my_data)

        a  e  i  o  u
0       0  7  3  0  2
1       4  5  9  9  0
2       3  6  9  1  0
3       8  9  0  4  6
4       0  6  9  9  2
...    .. .. .. .. ..
199995  0  1  1  8  2
199996  3  0  0  4  0
199997  3  1  7  7  2
199998  9  8  4  4  3
199999  5  4  5  3  2

[200000 rows x 5 columns]

In [3]:
#Perform a simple query to test the database effectiveness.
con = sqlite3.connect('example_data.sqlite')
my_data.to_sql('stocks', con, if_exists='replace', index=False)
pd.read_sql('SELECT * FROM stocks ORDER BY e', con)

        a  e  i  o  u
0       4  0  3  7  4
1       2  0  0  2  0
2       4  0  5  7  9
3       0  0  2  3  8
4       1  0  4  6  8
...    .. .. .. .. ..
199995  2  9  8  3  1
199996  5  9  3  1  0
199997  0  9  4  0  8
199998  3  9  8  5  1
199999  1  9  6  5  7

[200000 rows x 5 columns]

In [4]:
#View the first five rows of the dataset.
my_data.head()

   a  e  i  o  u
0  0  7  3  0  2
1  4  5  9  9  0
2  3  6  9  1  0
3  8  9  0  4  6
4  0  6  9  9  2

In [5]:
#Determine the maximum characters in each row.
max_param = my_data.max(axis=1)
print(max_param)

0         7
1         9
2         9
3         9
4         9
         ..
199995    8
199996    4
199997    7
199998    9
199999    5
Length: 200000, dtype: int32

In [8]:
# #Sum my_data where values equal seven.
(my_data.values == 7).sum()

100098

In [10]:
#Find out how many occurrences of the data in each row.
Var_count = my_data.sum(axis=1)
print (Var_count)

0         12
1         27
2         19
3         27
4         26
          ..
199995    12
199996     7
199997    20
199998    28
199999    19
Length: 200000, dtype: int64